
*.xgmml
.Rproj.user
*.xlsx

C:\Users\guangya\Documents\GitHub\Workshop1\scripts\Illumina\normalised-data.txt
C:\Users\guangya\Documents\GitHub\Workshop1\scripts\Illumina\datasets\GSE176043_non-normalized.txt
